# PySpark DataFrames  
  
[Home](../../README.md)  

![](https://miro.medium.com/max/2560/1*qgkjkj6BLVS1uD4mw_sTEg.png)

# DataFrame Basics  
  
### Key Points    
  
| Quick | Navigation| Jump | To | 
|-------|-----------|---------|----------|
|[Amending Schema](#Amending-Schema) |[Select Operations](#Select-Operations) |[Column operations](#Column-operations)| |
| | | | |
| | | | |

**Setting up**  

```python
spark = SparkSession.builder.appName('Basics').getOrCreate() 
df = spark.read.json(peopleFile)
```  
  
**Useful commands**. 
  
```python  
df.show()
df.printSchema()
df.describe().show()
df.select('column').show()
```

In [2]:
import findspark
findspark.init('/opt/apache-spark/spark-2.4.7-bin-hadoop2.7')
from pyspark.sql import SparkSession
peopleFile = 'in/df/people.json'

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json(peopleFile)

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns # don't need ()

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## Amending Schema

In [10]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [11]:
# struct field takes three inputs, name, datatype, nullable
print("Defining table dataschema")
data_schema = [  StructField('age',IntegerType(),True),  
                 StructField('name', StringType(),True)
              ]

Defining table dataschema

In [12]:
final_struc = StructType(fields=data_schema)

In [13]:
df = spark.read.json(peopleFile,schema=final_struc)

In [14]:
df.printSchema() # now our age schema has been udpated

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Select Operations

In [18]:
print(type(df['age']))
print(type(df.select('age')))

<class 'pyspark.sql.column.Column'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [24]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [28]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Column operations

In [29]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+